.field {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.field label,
input,
textarea {
  display: block;
}

.field label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.field input,
textarea {
  flex: 5;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.field input:focus,
textarea:focus {
  outline: none;
  border-color: #4f005f;
  /* background: #f6dbfc; */
}

.field.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .field {
    align-items: center;
    flex-direction: row;
  }
}
