.background-top {
  height: 50vh;
  background-color: #110c28;
}

.background-bottom {
  height: 50vh;
  /* Replace the fields below to customize background image and colors */
  background: linear-gradient(to bottom, #110c28, #9907fa1c),
    url('./React_Native_Logo.png') no-repeat center / cover;
}

.content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 85%;
  max-width: 50rem;
}
