.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #110c28;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  border-bottom: 1px solid white;
  z-index: 10;
}

.link {
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  color: #355E3B;
}

.active {
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: darkslategray;
}
